html {
   	font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 23px;
}

header {
	font-family: 'Alegreya', serif;
	font-weight: 700;
    line-height: 46px;
    font-size: 46px;
	border-bottom: thin;
	border-color: black;
	border-bottom-style: solid;
}

.brand {
	width: 85%;
	margin: 2% auto 1.5% auto;
	text-align: center;
}

#main-container {
	min-height: 60%;
	width: 70%;
	margin: 5% auto 0 auto;
}

#list-container {
	margin-top: 5%;
}

#instructions {
	text-align: center;
	font-style: oblique;
	color: royalblue;
}

#todo {
	list-style: none;
	width: 60%;
	margin: 0 auto;
	padding: 0;
	background-color: white;
}

#todo li {
	margin-top: .1em;
	padding: .25em 0 .15em 0;
	border-bottom: thin;
	border-bottom-style: solid;  
	text-align: center;
}

input {
	display: block;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 1.5em;
}

.done {
	text-decoration: line-through;
}

.x {
	display: none;
	float: right;
	padding-right: 1%;
	color: red;
}

@media (max-width: 440px) {
	.main-container {
		width: 95%;
	}
	#todo, input {
		width: 90%;
	}
	header {
		font-weight: 700;
    	line-height: 30px;
    	font-size: 30px;
	}
}

@media (min-width: 680px) {
	input, #main-container, #list-container {
		margin-top: 20px;
		margin-bottom: 10px;
	}
}